        @media(max-width:860px) {
            .grid-2 {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
            .customer-main img {
                height: auto;
                display: none;
            }
                .navbar .logo{
                font-size:1.3rem;
                        margin: 10px 0;
                }
        }
        
        @media(max-width:1110px) {
            .showcase .grid {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
            .showcase-form {
                justify-self: flex-end;
            }
            .showcase-text {
                margin-top: 30px;
            }
            .customer-main {
                height: auto;
                /* padding: auto 0px; */
            }
            .customer-care .container {
                padding: 0 20px;
            }
            .customer-care {
                height: auto;
            }
            .navbar ul {
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 15px;
                    margin:5px 0px;
            }
            /* .customer-card {
            margin-bottom: 10px;
        } */
            .customer-care::before,
            .customer-care::after {
                height: auto;
            }
        }
        
        @media(max-width:664px) {
            .flex {
                flex-direction: column;
            }
            .logo {
                font-size: 1px;
            }
            .navbar {
                height: auto;
                font-size: 1rem;
            }
            /* .customer-care {
            height: auto;
        } */
        }
        
        @media(max-width:594px) {
            .navbar {
                font-size: 1rem;
            }
            .navbar .container {
                padding: 0;
            }
        }
        
        @media(max-width:525px) {
            .showcase-form {
                width: auto;
                    height: auto;
            }
                
            .customer-text h2 {
                font-size: 2rem;
            }
            .customer-text p {
                font-size: 1.3rem;
            }
        }
        
        @media(max-width:435px) {
            .navbar {
                height: auto;
            }
            .navbar ul a {
                /* font-size: 0.7rem; */
                padding: 0;
                margin: 0 9px;
                text-align: center;
            }
            .navbar li {
                text-align: center;
                justify-content: center;
                align-items: center;
            }
            .showcase-form {
                width: auto;
            }
                .showcase-text h1{
                font-size:3.5rem; 
                }
                        
        }
        
        @media(max-width:372px) {
            .navbar a {
                margin: 2px;
            }
        }
        
        @media(max-width:372px) {
            .showcase-form .card {
                width: 10px;
            }
        }
